.dashboard {
    background-color: #fff;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.impact {
    margin-top: 50px;
    margin-bottom: 100px;
}

.no-donations {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dashboard-sidebar {
    background-color: #BFBFBF;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.4rem;
}

/*For background logo_circle on dashboard*/

.donation_info {
    text-transform: uppercase;
    margin-bottom: -11px;
    font-size: 11px;
}
 .logo_circle{
     height: 41px;
    width: 67px;
    display: inline-block;
    vertical-align: middle;
 }

.amount_donated {
    font-size: 52px;
    font-weight: bold;
}
.stLarge {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: relative;
}

 .success-modal-content {
  width: 100%;
  float: left;
  }

  .confirm-text {
    text-align: center;
    padding: ($column-gutter / 2) 0;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    font-size: 2.5vmin;
    padding: 0 2vmin;
}
.submit-button {
    margin: 0;
    width: 100%;
    height: 37px;
    line-height: 0px;
    cursor: pointer;
    background-color: transparent;
    color: #11ade5;
    border: 1px solid #11ade5;
}
.submit-button:hover {
    background-color: #11ade5;
    color: white;
    transition: background-color 0.2s;
    transition: color 0.1s;
    -webkit-transition: background-color 0.2s;
    -webkit-transition: color 0.1s;
}
.submit-button.gray:hover {
  background-color: #b3b3c0;
  border: 1px solid #b3b3c0;
  color: white;
  transition: background-color 0.2s;
  transition: color 0.1s;
  -webkit-transition: background-color 0.2s;
  -webkit-transition: color 0.1s; }

  .modal-success-header {
    background-color: #e9f6fc;
    margin-bottom: 2vmin;
}

.modal-dialog-success {
    margin: 0;
    width: 30%;
    position: fixed;
    left: 32%;
    top: 24%;
}
@media (max-width: 991px) {
    .modal-dialog-success {
        width: 40%;
    }

}
@media (max-width: 441px) {
 .submit-button {
        padding: 1vmin 0;
        font-size: 4.0vmin;
}

}