.dashboard {
    background-color: #fff;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.impact {
    margin-top: 50px;
    margin-bottom: 100px;
}

.no-donations {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dashboard-sidebar {
    background-color: #BFBFBF;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*For background circle on dashboard*/
.bgcircle {
    height: 169px;
    width: 222px;
    text-align: center;
    position: relative;
    /* left: 0; */
    top: 25px;
    background-repeat: no-repeat;
    background-position: 41px 3px;
}

.number_caption {
    font-size: 11px;
    letter-spacing: 0;
}

.number_sans_featured {
    color: #333333;
    display: inline-block;
    font-size: 52px;
   font-weight: bold;
}
.bottom {
    position: absolute;
    right: 10%;
    bottom: 0px;
    width: 100%;
}
.xb_enabled .number_sans_featured {
    color: #488443;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
}
.top {
    position: absolute;
    right: 17%;
    top: -54%;
margin: 0;
    padding: 0;
}
