{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load humanize %}
{% block head %}
{% endblock %}
<script type="text/javascript">
</script>
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
{% block title %}Project | {% endblock %}
{% block body %}

<div class="contents after-header">
    <div class="account-heading">
        <div style="padding-top: 2.3%;"><span class="account-heading-span">Myth And Facts About Solar Energy</span></div>
    </div>
    <div class="col-xs-12 col-sm-3 account-tabs">
        <div style="margin-bottom: 2em;">
            <span id="account-link" class="account-tab-text account-tab-text-active">Common Myths</span>
        </div>
        <div style="margin-bottom: 2em;">
            <span id="donation-link" class="account-tab-text ">Exciting Facts</span>
        </div>
    </div>
    <div id="account-info" class="col-xs-12 col-sm-9 setting-form-top" style="display: block;">
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar energy is too expensive.</span><span data-toggle="collapse" data-target="#text-block-1" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-1" class="myth-collapse-text collapse">The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar energy is unreliable.<br> I'll wait until technology gets better.</span><span data-toggle="collapse" data-target="#text-block-2" class="myth-collapse-icon glyphicon glyphicon-chevron-down" style="margin-top: -0.6em;"></span></div>
            <div id="text-block-2" class="myth-collapse-text collapse">The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar power won't work for me. It is too cloudy where I live.</span><span data-toggle="collapse" data-target="#text-block-3" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-3" class="myth-collapse-text collapse">The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar is hard to maintain.</span><span data-toggle="collapse" data-target="#text-block-4" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-4" class="myth-collapse-text collapse">The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar energy isn't for me<br> I am not environmentalist or into techy things.</span><span data-toggle="collapse" data-target="#text-block-5" class="myth-collapse-icon glyphicon glyphicon-chevron-down" style="margin-top: -0.6em;"></span></div>
            <div id="text-block-5" class="myth-collapse-text collapse">The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
    </div>
    <div id="donation-info" class="col-md-9 setting-form-top" style="display: none;">
    <div class="col-sm-10">
        <div class="row facts-row" style="margin-bottom: 0;">
            <div class="fact-card col-sm-6" style="float: left; margin-bottom: 2em">
                <div id="test" class="facts-div-style">
                        <div class="fact-card-logo">
                        <div class="card-logo fact-card-logo-style">
                            <div class="fact-card-width">
                                <img src="/static/images/resource_icon.png" class="facts-icon-image">
                            </div>
                            <div class="fact-card-width">
                                <label class="facts-label-text">An abundant resource</label>
                            </div>
                        </div>
                        <div class="card-info fact-card-text-style">
                            <div>
                                <label class="fact-card-info" style="font-size: 1.4em;">An abundant resource</label><br><br><br>
                            </div>
                            <div>
                                <span class="fact-card-info">Just 18 days of sunshine on Earth</span>
                                <span class="fact-card-info">contains the same amount of energy as</span>
                                <span class="fact-card-info">is stored in all of the planet's reserves</span>
                                <span class="fact-card-info">of coal, oil, and natural gas.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fact-card col-sm-6" style="float: left; margin-bottom: 2em">
                <div class="facts-div-style" style="float: right">
                    <div class="fact-card-logo">
                        <div class="card-logo fact-card-logo-style">
                            <div class="fact-card-width">
                                <img src="/static/images/climate_change_icon.png" class="facts-icon-image">
                            </div>
                            <div class="fact-card-width">
                                <label class="facts-label-text" style="padding: 0.2em;white-space: pre-wrap;">A way to combat climate change</label>
                            </div>
                        </div>
                        <div class="card-info fact-card-text-style">
                            <div>
                                <label class="fact-card-info" style="font-size: 1.4em;">A way to combat climate change</label><br><br><br>
                            </div>
                            <div>
                                <span class="fact-card-info">Just 18 days of sunshine on Earth</span>
                                <span class="fact-card-info">contains the same amount of energy as</span>
                                <span class="fact-card-info">is stored in all of the planet's reserves</span>
                                <span class="fact-card-info">of coal, oil, and natural gas.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row facts-row" style="margin-bottom: 0;">
            <div class="fact-card col-sm-6" style="float: left; margin-bottom: 2em">
                <div class="facts-div-style">
                    <div class="fact-card-logo">
                            <div class="card-logo fact-card-logo-style">
                                <div class="fact-card-width">
                                    <img src="/static/images/air_pollution_icon.png" class="facts-icon-image">
                                </div>
                                <div class="fact-card-width">
                                    <label class="facts-label-text">Reduced air pollution</label>
                                </div>
                            </div>
                            <div class="card-info fact-card-text-style">
                                <div>
                                    <label class="fact-card-info" style="font-size: 1.4em;">Reduce air pollution</label><br><br><br>
                                </div>
                                <div>
                                    <span class="fact-card-info">Just 18 days of sunshine on Earth</span>
                                    <span class="fact-card-info">contains the same amount of energy as</span>
                                    <span class="fact-card-info">is stored in all of the planet's reserves</span>
                                    <span class="fact-card-info">of coal, oil, and natural gas.</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="fact-card col-sm-6" style="float: left; margin-bottom: 2em">
                <div class="facts-div-style" style="float: right">
                    <div class="fact-card-logo">
                        <div class="card-logo fact-card-logo-style">
                            <div class="fact-card-width">
                                <img src="/static/images/solar_for_everyoe_icon.png" class="facts-icon-image">
                            </div>
                            <div class="fact-card-width">
                                <label class="facts-label-text">Solar for everyone</label>
                            </div>
                        </div>
                        <div class="card-info fact-card-text-style">
                            <div>
                                <label class="fact-card-info" style="font-size: 1.4em;">Solar for everyone</label><br><br><br>
                            </div>
                            <div>
                                <span class="fact-card-info">Just 18 days of sunshine on Earth</span>
                                <span class="fact-card-info">contains the same amount of energy as</span>
                                <span class="fact-card-info">is stored in all of the planet's reserves</span>
                                <span class="fact-card-info">of coal, oil, and natural gas.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row facts-row" style="margin-bottom: 0;">
            <div class="fact-card col-sm-6" style="margin-bottom: 2em">
                <div class="facts-div-style">
                    <div class="fact-card-logo">
                        <div class="card-logo fact-card-logo-style">
                            <div class="fact-card-width">
                                <img src="/static/images/job_creator.png" class="facts-icon-image">
                            </div>
                            <div class="fact-card-width">
                                <label class="facts-label-text">A job creator</label>
                            </div>
                        </div>
                        <div class="card-info fact-card-text-style">
                            <div>
                                <label class="fact-card-info" style="font-size: 1.4em;">A job creator</label><br><br><br>
                            </div>
                            <div>
                                <span class="fact-card-info">Just 18 days of sunshine on Earth</span>
                                <span class="fact-card-info">contains the same amount of energy as</span>
                                <span class="fact-card-info">is stored in all of the planet's reserves</span>
                                <span class="fact-card-info">of coal, oil, and natural gas.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fact-bottom-text">
        <span>RE-volv is a non-profit committed to making solar available in all communities. We serve</span><br>
        <span>other non-profits so they can save on electrical cost and reduce their carbon footprint.</span><br><br>
        <span>Like us on Facebook, follow us on Twitter and sign up for our mailing list!</span>
    </div>
    </div>

</div>

{% endblock %}
