{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load humanize %}
{% block head %}
{% endblock %}
<script type="text/javascript">
</script>
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
{% block title %}Project | {% endblock %}
{% block body %}

<div class="contents after-header">
    <div class='account-heading'>
        <div style="padding-top: 2.3%;"><span class="account-heading-span">Myth And Facts About Solar Energy</span></div>
    </div>
    <div class="col-xs-12 col-sm-3 account-tabs">
        <div style="margin-bottom: 2em;">
            <span id="account-link" class="account-tab-text account-tab-text-active">Common Myths</span>
        </div>
        <div style="margin-bottom: 2em;">
            <span id="donation-link" class="account-tab-text">Exciting Facts</span>
        </div>
    </div>
    <div id="account-info" class="col-xs-12 col-sm-9 setting-form-top">
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar energy is too expensive.</span><span data-toggle="collapse" data-target="#text-block-1" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-1" class="myth-collapse-text collapse" >The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar energy is unreliable.<br> I'll wait until technology gets better.</span><span data-toggle="collapse" data-target="#text-block-2" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-2" class="myth-collapse-text collapse" >The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar power won't work for me. It is too cloudy where I live.</span><span data-toggle="collapse" data-target="#text-block-3" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-3" class="myth-collapse-text collapse" >The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar is hard to maintain.</span><span data-toggle="collapse" data-target="#text-block-4" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-4" class="myth-collapse-text collapse" >The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Solar energy isn't for me<br> I am not environmentalist or into techy things.</span><span data-toggle="collapse" data-target="#text-block-5" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-5" class="myth-collapse-text collapse" >The truth is that, the solar financing options such as solar lease, you can go solar for zero down and start saving up to 15% or more electrical bills. </div>
        </div>
    </div>
    <div id="donation-info" class="col-xs-12 col-sm-9 setting-form-top" style="display:none;">
        <div style="width:100%;height: 2em;">
            <div style="position: relative;
                width: 31%;
                /* height: 2em; */
                float: left;
                text-align: center;
                border: 1px solid #ddd;">
                <div>
                    <img src="/static/images/resource_icon.png">
                </div>
            </div>
            <div style="position: relative;
                    width: 50%;
                    height: 2em;
                    float: left;">
            </div>
        </div>
    </div>
</div>
<script>
$('.collapse').on('shown.bs.collapse', function(){
    $(this).parent().find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
    }).on('hidden.bs.collapse', function(){
    $(this).parent().find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
});
</script>
{% endblock %}
